/*********************** IMPOSTAZIONE DELLA PAGINA *****************************/
body{
    font-family: arial;
    background-color: #F2F0F0; /* grigio chiarissimo */
}
#header{
    border-bottom: 1px solid black;
}
#corpo{
    padding: 30px;
}
#footer{
    border-top: 1px solid black;
    text-align: center;
}
.cellaTesto{
    font-weight: bold;
    font-size: 9pt;
    color: #494949; /* Grigio scuro */
}
.standartTextfield{
    border: 1px solid #494949; /* Grigio scuro */
    -moz-border-radius: 3px;
}
.standartButton{

}
.mainTitle{
    text-align: center;
    font-weight: bold;
    font-size: 28pt;
    text-decoration: underline;
    font-family: heleverica;
}
.titleImg{
    -moz-border-radius: 5px;
    border: 1px solid black;
    margin: 2px;
    padding: 5px;
}
/*******************************************************************************/




/******************************** COMPONENTI DEL MENU **************************/
.menu{
    width: 100%;
}
.menuItem{
    -moz-border-radius: 5px;
    border: 1px solid black;
    padding: 4px 8px 4px 8px;
    background-color: #5F8CFF; /* Celeste scuro */
}
.menuLink{
    font-size: 12pt;
    color: red;
    text-decoration: none;
}
.menuLink:hover{
    text-decoration: underline;
}
.menuSpace{
    width: 100%;
}
/*******************************************************************************/




/************************************** FORM DI LOGIN **************************/
.messaggioErrore{
    color: red;
    font-weight: bold;
    font-style: italic;
}
.linkAiuti{
    text-decoration: none;
    font-size: 10pt;
    color: blue;
}
.linkAiuti:hover{
    text-decoration: underline;
}
.linkUser{
    text-decoration: none;
    color: red;
    font-size: 12pt;
}
.linkUser:hover{
    text-decoration: underline;
}
.loginForm{
    background-color: #5F8CFF; /* Celeste scuro */
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    -moz-border-radius: 5px;
}
/*******************************************************************************/



/***************************** CONTENUTO DELLA PAGINA **************************/
.contenuto{
    width: 100%;
}
.messaggioUtente{
    background-color: #5F8CFF; /* Celeste scuro */
    padding: 4px 8px 4px 8px;
    border: 1px solid black;
    -moz-border-radius: 5px;
}
/*******************************************************************************/



/**************** IMPOSTAZIONE DELLA STAMPA DI UN REPORT ***********************/
.reportTabella{
    background-color: #C1C1C3; /* Grigio chiaro */
    -moz-border-radius: 5px;
    margin: 5px;
    border-collapse: collapse;
    border: 2px solid black;
}
.reportRigaTitoli{
    background-color: #1569C7; /* Celeste scuro */
    color: white;
    font-weight: bold;
}
.reportRigaDati{
    background-color: #D9DADE; /* Grigio quasi bianco */
}
.reportCella{
    padding: 3px 8px 3px 8px;
    border: 1px solid black;
}
/*******************************************************************************/



/**************** IMPOSTAZIONE DELLA STAMPA DI UN FORM *************************/
.standartFormContainer{
    background-color: #5F8CFF; /* Celeste scuro */
    -moz-border-radius: 5px;
    border: 2px solid black;
    padding: 20px;
}
/*******************************************************************************/


