/*********************** ELEMENTI DELLA PAGINA *****************************/
body {
    font-family: arial;
    background-color: #F2F0F0; /* grigio chiarissimo */
    height: 95%;
}
#pagina {
    height: 100%;
    margin: 0 auto -20px; /* margine negativo altezza footer */
}
#header {
    margin-top: 20px;
}
#corpo {
    padding: 20px;
}
#contenuto{
    border: 1px solid blue;
    padding: 20px;
}
#footer {
    border-top: 1px solid black;
    text-align: center;
}
.cellaTesto {
    font-weight: bold;
    font-size: 9pt;
    color: #494949; /* Grigio scuro */
}
.standartTextfield {
    border: 1px solid #494949; /* Grigio scuro */
    -moz-border-radius: 3px;
}
.mainTitle {
    text-align: center;
    font-weight: bold;
    font-size: 21pt;
    font-style: italic;
}
/*******************************************************************************/




/******************************** COMPONENTI DEL MENU **************************/
.menu {
    width: 100%;
    margin-top: 10px;
    border: 1px solid black;
}
.menuItem {
    border: 1px solid black;
    padding: 2px 8px 2px 8px;
    background-color: #5F8CFF; /* Celeste scuro */
    width: 60px;
}
.menuLink {
    font-size: 12pt;
    color: #C6DEFF; /* bianco celeste */
    text-decoration: none;
    font: bold 13px verdana, arial, sans-serif;
}
.menuLink:hover {
    text-decoration: underline;
}
.messaggioUtente {
    background-color: #5F8CFF; /* Celeste scuro */
    padding: 2px 8px 2px 8px;
    border: 1px solid black;
    -moz-border-radius: 5px;
    text-align:center;
    width: 200px;
}
/*******************************************************************************/

/********************************* COMPONENTI DEI TAB **************************/
ul#tabList {
    font: bold 11px verdana, arial, sans-serif;
    list-style-type: none;
    padding-bottom: 24px;
    margin: 0;
}
ul#tabList li {
    float: left;
    background-color: #736F6E; /* grigio */
    margin: 2px 2px 0 2px;
    border: 1px solid blue;
    padding: 0 5px 0 5px;
}
ul#tabList li#selectedTab {
    border-bottom: 1px solid #F2F0F0; /* grigio chiarissimo */
    background-color: #F2F0F0; /* grigio chiarissimo */
}
li#selectedTab a { 
    color: black;
}
#tabList a {
    float: left;
    display: block;
    color: white;
    text-decoration: none;
    padding: 4px;
}
#tabList li:hover {
    background-color: #41383C; /* grigio scuro */
}
/*******************************************************************************/



/************************************** FORM DI LOGIN **************************/
.messaggioErrore {
    color: red;
    font-weight: bold;
    font-style: italic;
}
.linkAiuti {
    text-decoration: none;
    font-size: 11pt;
    color: white;
}
.linkAiuti:hover {
    text-decoration: underline;
}
.linkUser {
    text-decoration: none;
    color: #C6DEFF; /* bianco celeste */
    font-weight: bold;
    font-size: 13pt;
}
.linkUser:hover {
    text-decoration: underline;
}
.loginForm {
    background-color: #5F8CFF; /* Celeste scuro */
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    -moz-border-radius: 5px;
}
/*******************************************************************************/



/**************** IMPOSTAZIONE DELLA STAMPA DI UN REPORT ***********************/
.reportTabella {
    background-color: #C1C1C3; /* Grigio chiaro */
    -moz-border-radius: 5px;
    margin: 5px;
    border-collapse: collapse;
    border: 2px solid black;
}
.reportRigaTitoli {
    background-color: #1569C7; /* Celeste scuro */
    color: white;
    font-weight: bold;
}
.reportRigaDati {
    background-color: #D9DADE; /* Grigio quasi bianco */
}
tr.reportRigaDati:hover {
    background-color: #C6DEFF; /* Celeste chiaro */
}

.reportCella {
    padding: 3px 8px 3px 8px;
    border: 1px solid black;
}
/*******************************************************************************/



/**************** IMPOSTAZIONE DELLA STAMPA DI UN FORM *************************/
.standartFormContainer {
    background-color: #5F8CFF; /* Celeste scuro */
    -moz-border-radius: 5px;
    border: 2px solid black;
    padding: 20px;
}
/*******************************************************************************/


