/*********************** ELEMENTI DELLA PAGINA *****************************/
body {
    font-family: arial;
    background-color: #F2F0F0; /* grigio chiarissimo */
    height: 95%;
}
#header {
    margin-top: 20px;
}
#corpo {
    padding-top: 20px;
}
#contenuto{
    border: 1px solid blue;
    padding: 20px;
}
#footer {
    border-top: 1px solid black;
    text-align: center;
    position: absolute;
    bottom: 2px;
    margin: 3px;
    width: 98%;
}
.cellaTesto {
    font-weight: bold;
    font-size: 9pt;
    color: #494949; /* Grigio scuro */
}
.standartTextfield {
    border: 1px solid #494949; /* Grigio scuro */
    -moz-border-radius: 3px;
}
.mainTitle {
    text-align: center;
    font-weight: bold;
    font-size: 21pt;
}
/*******************************************************************************/




/******************************** COMPONENTI DEL MENU **************************/
.menu {
    width: 100%;
    margin-top: 10px;
    border: 1px solid black;
}
.menuItem {
    border: 1px solid black;
    padding: 2px 8px 2px 8px;
    background-color: #5F8CFF; /* Celeste */
    width: 60px;
    text-align: center;
}
.menuItemSelected {
    border: 2px solid blue;
    font-weight: bold;
    background-color: #1F5CFF; /* Celeste scuro */
}
.menuLink {
    font-size: 12pt;
    color: #C6DEFF; /* bianco celeste */
    text-decoration: none;
    font: bold 13px verdana, arial, sans-serif;
}
.menuLink:hover {
    text-decoration: underline;
}
.messaggioUtente {
    background-color: #5F8CFF; /* Celeste scuro */
    padding: 2px 8px 2px 8px;
    border: 1px solid black;
    -moz-border-radius: 5px;
    text-align:center;
    width: 220px;
    position: absolute;
    right: 5px;
    top: 5px;
}
/*******************************************************************************/

/********************************* COMPONENTI DEI TAB **************************/
ul#tabList {
    font: bold 11px verdana, arial, sans-serif;
    list-style-type: none;
    padding-left:0;
    padding-bottom: 24px;
    margin: 0;
}
ul#tabList li {
    float: left;
    background-color: #736F6E; /* grigio */
    margin: 2px 2px 0 0px;
    border: 1px solid blue;
    padding: 0 5px 0 5px;
}
ul#tabList li#selectedTab {
    border-bottom: 1px solid #F2F0F0; /* grigio chiarissimo */
    background-color: #F2F0F0; /* grigio chiarissimo */
}
li#selectedTab a { 
    color: black;
}
#tabList a {
    float: left;
    display: block;
    color: white;
    text-decoration: none;
    padding: 4px;
}
#tabList li:hover {
    background-color: #41383C; /* grigio scuro */
}
/*******************************************************************************/



/************************************** FORM DI LOGIN **************************/
.messaggioErrore {
    color: red;
    font-size: 9pt;
    font-weight: bold;
    padding: 3px 0 3px 0;
}
.linkAiuti {
    text-decoration: none;
    font-size: 11pt;
    color: white;
}
.linkAiuti:hover {
    text-decoration: underline;
}
.linkUser {
    text-decoration: none;
    color: #C6DEFF; /* bianco celeste */
    font-weight: bold;
    font-size: 13pt;
}
.linkUser:hover {
    text-decoration: underline;
}
.loginForm {
    background-color: #5F8CFF; /* Celeste scuro */
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
    -moz-border-radius: 5px;
}
/*******************************************************************************/



/**************** IMPOSTAZIONE DELLA STAMPA DI UN REPORT ***********************/
.reportTabella {
    background-color: #C1C1C3; /* Grigio chiaro */
    border-collapse: collapse;
    font-size: 8pt;
}
.reportRigaTitoli {
    background-color: #1569C7; /* Celeste scuro */
    color: white;
    font-weight: bold;
}
.reportRigaDati {
    background-color: #D9DADE; /* Grigio quasi bianco */
}
tr.reportRigaDati:hover {
    background-color: #C6DEFF; /* Celeste chiaro */
}
.reportCella {
    padding: 3px 8px 3px 8px;
    border: 1px solid gray;
}
.paginazione {
    background-color: #F2F0F0; /* grigio chiarissimo */
    padding: 3px;
}
.testoPaginazione {
    padding: 0 15px 0 15px;
}
.bottPaginazione {
    background-color: #5D92FA; /* celeste */
    border: 1px solid black;
    -moz-border-radius: 8px;
    font-weight: bold;
    font-size: 7pt;
}
/*******************************************************************************/



/**************** IMPOSTAZIONE DELLA STAMPA DI UN FORM *************************/
.standartFormContainer {
    background-color: #5F8CFF; /* Celeste scuro */
    -moz-border-radius: 5px;
    border: 2px solid black;
    padding: 20px;
}
/*******************************************************************************/


/*********************** STAMPA DEL CALENDARIO *********************************/
#calendario {
    padding: 10px;
    float: left;
}
.cellaCalendario {
    --vertical-align: text-top;
}
.cellaMese {
    font-weight: bold;
    font-size: 13pt;
    text-align: center;
    color: red;
    width: 160px;
}
.cellaGiorno {
    padding: 10px;
    font-weight: bold;
    font-size: 10pt;
    text-align: center;
}
.cellaSettimana {
    padding: 10px;
    text-align: right;
    font-size: 8pt;
}
.cellaData {
    border: 1px solid black;
    font-size: 10pt;
    height: 94px;
    width: 80px;
    vertical-align: text-top;
    padding: 5px;
}
.cellaDataOggi {
    background-color: #F5D0A9; /* arancione chiaro */
}
.cellaDataSelezionata {
    background-color: #A9D0F5;
}
.cellaDataGrigia {
    background-color: #D7D7D7; /* grigio */
}
.cellaSpazio {
    width: 80px;
}
.bottCalendario {
    background-color: #5D92FA; /* celeste */
    border: 1px solid black;
    -moz-border-radius: 10px;
    font-weight: bold;
}
.selectCalendario {
    
}
.linkGiorno {
    text-decoration: none;
    color: black;
    font-weight: bold;
}
.linkGiorno:hover {
    text-decoration: underline;
}
/*******************************************************************************/




/*********************** STAMPA DEL FORM AGGIUNGI TASK *************************/
.aggiungiEventoContainer {
    padding: 15px;
}
.cellaTitoloTask {
    color: #5D92FA; /* celeste */
    font-weight: bold;
    padding: 0 0 5px 0;
    text-decoration: underline;
}
.label {
    font-size: 10pt;
    font-weight: bold;
}
.imgCal {
    margin: 0;
    padding: 0;
    width: 20px;
    height: 20px;
    border: none;
    background-image: url("img/cal.png");
}
.selectField {
    width: 145px;
}
.messaggioTaskOk {
    padding: 10px 0 10px 0;
    font-weight: bold;
    color: green;
    font-size: 12pt;
}
.messaggioTaskErr {
    color: red;
    font-size: 9pt;
}
.prio1 {
    font-weight: bold;
    color: gray;
    font-size: 9pt;
    padding: 0;
    margin: 0;
}
.prio2 {
    font-weight: bold;
    color: orange;
    font-size: 9pt;
    padding: 0;
    margin: 0;
}
.prio3 {
    font-weight: bold;
    color: red;
    font-size: 9pt;
    padding: 0;
    margin: 0;
}
/*******************************************************************************/

/*********************** GESTIONE AUTORIZZAZIONI *******************************/
.errore {
    border: 1px solid red;
    background-color: #fff3f3;
}
.puntatore:hover {
     cursor:pointer;
}
/*******************************************************************************/
